################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Examples/bin
/Examples/obj
/StartHere/obj
/UngerboeckSDKWrapperJWT/bin
/UngerboeckSDKWrapperJWT/obj
StartHere/bin
/Examples/.vs/Examples.csproj.dtbcache.json
/UngerboeckSDKWrapperJWT/Ungerboeck.Api.Sdk.1.0.0.nuspec
